// colors
$color-blue-1: #09111c;
$color-blue-2: #111c2d;
$color-blue-3: #162536;
$color-blue-4: #1e2e44;
$color-blue-5: #2a3342;
$color-blue-6: #3a4453;

$color-green-1: #538c27;
$color-green-2: #a1fb5e;

// text
$color-text-light: #f8feff;

// spacing and heights
$header-height: 80px;